<p>
  Hi <%= @user_name %>,
</p>
You have been registered successfully.
<br/>
Please use the below password to sign in to our system.
<br/>
password is:
<strong><%= @password %></strong>
<br/>
You can change the password later.